@import "~admin-lte/dist/css/adminlte.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  background-color: #EDF5FF;
}

.main-title {
  display: grid;
  justify-content: space-between;
  color: #2C35A7;
}

.main-search {
  text-align: right; 
}

.main-search > div {
  display: inline-block; 
  margin-left: 10px; 
}

.main-card {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 10px; 
  margin-top: 20px; 
  outline: 2px solid #11b1de;
}

.main-title-card {
  display: flex;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS*/

h1 {
color: var(--Jordy-Blue-800, #2C35A7);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

h3{
color: var(--Black-900, #3D3D3D);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h5 {
color: var(--Black-900, #3D3D3D);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

h6{
  color: var(--Black-900, #3D3D3D);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}

p{
color: var(--Grays-300, #8D8D8D);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.p-date{
color: var(--Black-400, #888);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.p-text{
  color: var(--Grays-700, #262626);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

img{

fill: lightgray -0.924px -0.611px / 100% 150% no-repeat;
stroke-width: 0.5px;
stroke: var(--Black-200, #D1D1D1);
filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.btn-primary  {
background: var(--Jordy-Blue-500, #5E76F6);
color: var(--Base-White, #FFF);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
text-align: center;
}

label{
color: var(--Black-600, #5D5D5D);
font-feature-settings: 'clig' off, 'liga' off;

/* Form / Label Regular Medium */
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 15.6px */

}

.dropdown-box{
  border-radius: 4px;
  border: 1px solid var(--Light-Blue-Grays-300, #C9D5E3);
  background: var(--Base-White, #FFF);
  
  /* Shadow sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  
}

.inner{
border-radius: 20px;
border: 1px solid var(--Jordy-Blue-200, #C5D9FF);
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);

}

